.accordion-header{
    width:100%;
    font-family: Montserrat, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0px;
    margin-top: 15px;
}
