.default-button {
    border:none;
    background-color: transparent;
    color:#ffffff;
    border:1px solid #ffffff;
    border-radius: 15px;
    font-family: Montserrat, "Open Sans", "Helvetica Neue", sans-serif;
    cursor:pointer;
    padding:2px;
}

.default-button:hover{
    color:black;
    background-color: #ffffff;
}